<!doctype html>
<html ng-app="myApp">
  <head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular.min.js"></script>
    <script src="js/app.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="row" >
        <h1>{{"HOOO" + "OOOTY"}}</h1>
        <h1>{{100 | currency}}</h1>
      </div>
    </div>
  </body> 
</html>
